# Object files
*.elf
*.txt
*.o
*.cfg
*.bin
.gdbinit
deprecated/*
system_stm32f10x.c
.DS_Store
.ccls-cache/*
vectors-common.s

# Generated / local files
/.cache
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/compile_commands.json

# Local configuration
/.clangd
/.ctags